 <div class=""">
    <div class="col-md-7 pad-30 wow fadeInLeft" data-wow-offset="50" data-wow-delay=".30s"> 
        <img alt="" src="" />
    </div>
    <div class="col-md-5 pad-30 wow fadeInRight" data-wow-offset="50" data-wow-delay=".30s"> 
        <div class="prod-info white-clr">
            <ul>
                <li> <span class="title-2">Patient Name:</span><%=blockchain.PatientName%> <span class="fs-16"></span> </li>
                <li> <span class="title-2">Doctor Name:</span><%=blockchain.DoctorName%> <span class="fs-16"></span> </li>
                <li> <span class="title-2">Organization:</span><%=blockchain.hospitalName%> <span class="fs-16"></span> </li>
                <li> <span class="title-2">Description:</span><%=blockchain.description%> <span class="fs-16"></span> </li>
            </ul>
        </div>
    </div>
</div>